/*Roxo*/
@corSecundaria: #D1BCC3;
@corSecundariaEscura: #885E6F;
@corSecundariaClara: #E3D7DD;

@corPrincipal: #73456C;
@corPrincipalEscura: #40263E;
@corPrincipalClara: #B685B1;

/*Preto e Amarelo pastel*/
@corSecundaria: #FDFBD4;
@corSecundariaEscura: #F4E135;
@corSecundariaClara: #FFF;

@corPrincipal: #444;
@corPrincipalEscura: #000;
@corPrincipalClara: #888888;

@textoSecundario: @corPrincipal;

#container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    display: table;
    *zoom: 1;
    background-color: #999;
}

#header {
    background-color: #eee; 
    height: 75px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: rgb(238,238,238);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1)));
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );

    -webkit-box-shadow:  0px 5px 0px 0px rgba(6, 6, 6, 0.5);
    -moz-box-shadow:  0px 5px 0px rgba(6, 6, 6, 0.1);
    box-shadow: 0px 5px 0px 0px rgba(6, 6, 6, 0.5);
    border-bottom: solid 2px #666;
}

#logo {

}

#maincontent {
    background-color: @corPrincipal;
    display: table;
    width: 100%;
}

#navigation {
    width: 140px;
    float: left;
    background-color: @corPrincipal;
}

#contents {
    width: auto;
    background-color: #fff;
    float: left;
}

ul.menu {
    margin-bottom: 20px;
    margin-left: 0;
    list-style: none;
}

ul.menu li {
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    text-align: center;
    height: 80px;
    text-transform: uppercase;
    border-top: solid 1px @corPrincipalClara;
    border-bottom: solid 1px @corPrincipalEscura;
}

ul.menu li:last-child {
    border-bottom: 0px;
}

ul.menu li:hover, ul.menu li.active {
    margin-left: 10px;
    margin-right: 0px;
    padding-right: 10px;
    background-color: @corSecundaria;
    color: #444;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}


ul.menu li a {
    text-decoration: none;
    color: @corSecundaria;
}

ul.menu li i {
    margin-bottom: 10px;
}

ul.menu li:hover i,
ul.menu li.active i {
    background-position-x: -66px;
}

ul.menu li.active a,
ul.menu li:hover a {
    text-decoration: none;
    color: @corPrincipal;
}

[class^="icone-"],
[class*=" icone-"] {
    display: inline-block;
    width: 51px;
    height: 40px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 40px;
    vertical-align: text-top;
    background-image: url("../img/iconesLaterais.png");
    background-position: 40px 40px;
    background-repeat: no-repeat;
}

.icone-inicial {
    background-position: -3px -4px;
}
.icone-inicial:hover {
    background-position: -66px -4px;
}

.icone-planejamento {
    background-position: -3px -45px;
}
.icone-planejamento:hover {
    background-position: -66px -45px;
}

.icone-convidados {
    background-position: -3px -86px;
}
.icone-convidados:hover {
    background-position: -66px -86px;
}

.icone-financeiro {
    background-position: -3px -129px;
}
.icone-financeiro:hover {
    background-position: -66px -129px;
}

.icone-blog {
    background-position: -3px -170px;
}
.icone-blog:hover
{
    background-position: -66px -170px;
}

.icone-contato {
    background-position: -2px -213px;
}
.icone-contato:hover {
    background-position: -65px -213px;
}

.submenu {
    background-color: @corSecundaria;
    display: table;
    height: 500px;
}

.submenu [class^="icon-"],
.submenu [class*=" icon-"] {
    margin-top: 7px;
}

.submenu .nav-header {
    color: @textoSecundario;
    border-bottom: solid 1px @corSecundariaEscura;
    border-top: solid 1px @corSecundariaClara;
}

.submenu .nav-header:first-child {
    margin-top: 5px;
    border-top: 0px;
}
.submenu .nav-header:last-child {
    border-bottom: 0px;
}


@corTitulo: #008F8B;
@tamanhoListaItem: 80%;


.tituloItem {
    text-align: left;
    color: @corTitulo;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    width: 250px;
}
.descricaoItem {
    color: #000;
    padding-left: 0px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
}

.fornecedorItem {
    color: #999;
    font-weight: normal;
    text-transform: none;
    font-size: 13px;
}

.itemPlanejado {
    border-bottom: solid 2px white;
    background-color: #EFEFEF;
    color: @corTitulo;
    padding: 5px;
    font-weight: bold;
}