#container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    display: table;
    *zoom: 1;
    background-color: red;
}

#header {
    background-color: #999; 
    height: 75px;
}

#logo {

}

#maincontent {
    background-color: #333;
    display: table;
    width: 100%;
}

#navigation {
    width: 140px;
    float: left;
    background-color: #333;
}

#contents {
    width: auto;
    background-color: #fff;
    float: left;
}

ul.menu {
    margin-bottom: 20px;
    margin-left: 0;
    list-style: none;
}

ul.menu > a > li {
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
    text-align: center;
    height: 80px;
    text-transform: uppercase;
    border-top: solid 1px #666;
    border-bottom: solid 1px #000;
}

ul.menu > a > li:last-child {
    border-bottom: 0px;
}

ul.menu > a > li:hover, ul.menu > a > li.active {
    margin-left: 10px;
    margin-right: 0px;
    padding-right: 10px;
    background-color: #00d1e5;
    color: #444;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}


ul.menu > a {
    text-decoration: none;
    color: #00d1e5;
}

ul.menu > a > li > i {
    margin-bottom: 10px;
}

ul.menu > li.active > a,
ul.menu > li > a:hover,
ul.menu > li:hover {
    text-decoration: none;
    color: #333;
}

[class^="icone-"],
[class*=" icone-"] {
    display: inline-block;
    width: 51px;
    height: 40px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 40px;
    vertical-align: text-top;
    background-image: url("../img/iconesLaterais.png");
    background-position: 40px 40px;
    background-repeat: no-repeat;
}

.icone-inicial {
    background-position: -3px -4px;
}
.icone-inicial:hover {
    background-position: -66px -4px;
}

.icone-planejamento {
    background-position: -3px -45px;
}
.icone-planejamento:hover {
    background-position: -66px -45px;
}

.icone-convidados {
    background-position: -3px -86px;
}
.icone-convidados:hover {
    background-position: -66px -86px;
}

.icone-financeiro {
    background-position: -3px -129px;
}
.icone-financeiro:hover {
    background-position: -66px -129px;
}

.icone-blog {
    background-position: -3px -170px;
}
.icone-blog:hover
{
    background-position: -66px -170px;
}

.icone-contato {
    background-position: -2px -213px;
}
.icone-contato:hover {
    background-position: -65px -213px;
}



@corTitulo: #008F8B;
@tamanhoListaItem: 80%;


.tituloItem {
    text-align: left;
    color: @corTitulo;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    width: 250px;
}
.descricaoItem {
    color: #000;
    padding-left: 0px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
}

.fornecedorItem {
    color: #999;
    font-weight: normal;
    text-transform: none;
    font-size: 13px;
}

.itemPlanejado {
    border-bottom: solid 2px white;
    background-color: #EFEFEF;
    color: @corTitulo;
    padding: 5px;
    font-weight: bold;
}